.env
.git
dist
.idea
*.log
build
.vscode
coverage
.DS_Store
README.md
.env.local
.gitignore
Dockerfile
.env.*.local
.eslintcache
node_modules
.dockerignore
*.tsbuildinfo
.prettiercache
npm-debug.log*
