# Database
DATABASE_URL="postgresql://kwong2000:1234abcd@localhost:5432/game"

# Redis
REDIS_URL="redis://localhost:6379"

# Server
PORT=3000
NODE_ENV="development"

# Ads monetization
ADS_ADMIN_API_KEY="random-api-key"
ADS_REWARD_SESSION_TTL_SECONDS=300
